@model IEnumerable<Contact>
@{
    ViewData["Title"] = "Admin Panel | Gelen Mesajlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.Partial("_DetailContact", new Contact())
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">İletişim</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                    <li class="breadcrumb-item active">İletişim</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-gray-dark">
                    <div class="card-header">
                        <h3 class="card-title">
                            Gelen Mesajlar
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="ContactDatatable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:5%">Reply</th>
                                    <th style="width:40%">Name</th>
                                    <th style="width:20%">E-Mail</th>
                                    <th style="width:20%">Date</th>
                                    <th style="width:15%">Aksiyon</th>
                                </tr>
                            </thead>
                            <tbody id="Contacts">
                                @foreach (var contact in Model)
                                {
                                <tr id="@contact.Id">
                                    <td style="width:5%;" align="center">@Html.Raw(contact.IsRead ? "<i class='far fa-star'></i>": "<i class='fas fa-star'></i>")</td>
                                    <td style="width:40%">@contact.Name</td>
                                    <td style="width:20%">@contact.Email</td>
                                    <td style="width:20%">@contact.dateAdded.ToString("dd MMM yyyy")</td>
                                    <td style="width:15%;text-align:center">
                                        <a type="button" title="Düzenle" class="btn btn-warning btn-sm open-editContactModal" data-contact-name="@contact.Name" data-contact-date="@contact.dateAdded" data-contact-message="@contact.Message" data-contact-email="@contact.Email" data-contact-id="@contact.Id" data-toggle="modal" data-target="#editContactModal" asp-controller="Admin" asp-action="Edit" asp-route-Id="@contact.Id">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </a>
                                        <a onclick=Delete("/Admin/ContactDelete/@contact.Id") title="Sil" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="width:5%">Reply</th>
                                    <th style="width:40%">Name</th>
                                    <th style="width:20%">E-Mail</th>
                                    <th style="width:20%">Date</th>
                                    <th style="width:15%">Aksiyon</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

@section Contact {
    <!-- DataTables  & Plugins -->
    <script src="/Admin/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/jszip/jszip.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $(function () {
            $("#ContactDatatable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#ContactDatatable_wrapper .col-md-6:eq(0)');
        });
    </script>
    <script src="/Admin/AdminLTE/dist/js/adminlte.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!--SummerNote-->
    <script>
        $(document).ready(function () {
            $('#reply').summernote({
                placeholder: 'Yanıtınız..',
                tabsize: 2,
                height: 100
            });
        });
    </script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="~/Home/js/Contact.js"></script>

}


