@model Settings
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Ayarlar</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                    <li class="breadcrumb-item active">Ayarlar</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-gray-dark">
                    <div class="card-header">
                        <h3 class="card-title">
                            Ayarları Düzenleyin
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <form id="settingForm" asp-controller="Admin" asp-action="Settings" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="SiteName"></label>
                                <input type="hidden" asp-for="Id" value="@Model.Id" />
                                <input type="text" class="form-control" asp-for="SiteName" placeholder="Enter Blog Name">
                                @Html.ValidationMessageFor(model => model.SiteName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label asp-for="SiteDescription"></label>
                                <input type="text" class="form-control" asp-for="SiteDescription" placeholder="Enter Blog Name">
                                @Html.ValidationMessageFor(model => model.SiteDescription, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label asp-for="SiteName"></label>
                                <input type="text" class="form-control" asp-for="SiteName" placeholder="Enter Blog Name">
                                @Html.ValidationMessageFor(model => model.SiteName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label asp-for="SmtpAddress"></label>
                                <input type="text" class="form-control" asp-for="SmtpAddress" placeholder="Enter Blog Name">
                                @Html.ValidationMessageFor(model => model.SmtpAddress, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label asp-for="Port"></label>
                                <input type="text" class="form-control" asp-for="Port" placeholder="Enter Blog Name">
                                @Html.ValidationMessageFor(model => model.Port, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label asp-for="MailUserName"></label>
                                <input type="text" class="form-control" asp-for="MailUserName" placeholder="Enter Blog Name">
                                @Html.ValidationMessageFor(model => model.MailUserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label asp-for="MailPassword"></label>
                                <input type="text" class="form-control" asp-for="MailPassword" placeholder="Enter Blog Name">
                                @Html.ValidationMessageFor(model => model.MailPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Güncelle</button>
                        </div>
                        <!-- /.card-body -->
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
@section settings{
    <script src="~/Admin/js/Settings.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}
