@model Settings
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (Model.Twitter != "")
{
    <li><a href="@Model.Twitter" target="popup"><span class="fa fa-twitter"></span> Twitter</a></li>
}
@if (Model.Facebook != "")
{
    <li><a href="@Model.Facebook" target="popup"><span class="fa fa-facebook"></span> Facebook</a></li>

}
@if (Model.Instagram != "")
{
    <li><a href="@Model.Instagram" target="popup"><span class="fa fa-instagram"></span> Instagram</a></li>

}
@if (Model.Youtube != "")
{
    <li><a href="@Model.Youtube" target="popup"><span class="fa fa-youtube-play"></span> Youtube</a></li>

}
@if (Model.Github != "")
{
    <li><a href="@Model.Github" target="popup"><span class="fa fa-github"></span> Github</a></li>

}
@if (Model.Linkedin != "")
{
    <li><a href="@Model.Linkedin" target="popup"><span class="fa fa-linkedin"></span> Linkedin</a></li>
}


