@model BlogEdit
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.Partial("_DetailComment", new Comment())
<div class="header">
    <h1 class="page-header">
        Blog <small>Blogları Düzenleyin</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#">Ana Sayfa</a></li>
        <li><a href="#">Blog</a></li>
        <li class="active">Düzenle</li>
    </ol>
    
</div>
<div id="page-inner">
    <div class="col-md-12">
        <div class="panel panel-default">
            <form id="editBlog" asp-controller="Blog" asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="panel-body">


                    <div class="form-group">
                        <label>Category</label>
                        <select class="js-example-basic-multiple" id="categories" name="categories[]" multiple="multiple" asp-items="ViewBag.Categories" style="width:100%">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                        <input type="text" class="form-control" asp-for="Title" placeholder="Enter Blog Name">
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input type="text" class="form-control" asp-for="Description" placeholder="Enter Description">
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl" data-toggle="collapse" href="#collapseExample" title="Mevcut Resmi Görmek İçin Tıklayın" aria-controls="collapseExample">Image <i class="fa fa-angle-down"></i></label>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body text-center">
                                @if (Model.ImageUrl == null)
                                {
                                    @: <p>Resim bulunmamaktadır.</p>
                                }
                                else
                                {
                                    <img id="myImg" src="/Home/Blog/Img/@Model.ImageUrl" style="width:100%;max-width:300px">
                                }
                            </div>
                        </div>
                        <input type="file" class="form-control-file" asp-for="ImageUrl">
                    </div>
                    <div class="form-group">
                        <label asp-for="HtmlContent"></label>
                        <input type="text" class="form-control" asp-for="HtmlContent" placeholder="Enter Content">
                        @Html.ValidationMessageFor(model => model.HtmlContent, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="checkbox" style="margin-left:3px;">
                            <div class="checkbox3 checkbox-round checkbox-inline">
                                <input type="checkbox" asp-for="IsAppproved" id="checkbox-1">
                                <label for="checkbox-1">
                                    Is Aprooved ?
                                </label>
                            </div>
                            <div class="checkbox3 checkbox-round checkbox-inline">
                                <input type="checkbox" asp-for="IsHome" id="checkbox-2">
                                <label for="checkbox-2">
                                    Is Home ?
                                </label>
                            </div>
                            <div class="checkbox3 checkbox-round checkbox-inline">
                                <input type="checkbox" asp-for="IsSlider" id="checkbox-3">
                                <label for="checkbox-3">
                                    Is Slider ?
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">Düzenle</button>
                    <a type="button" asp-controller="Blog" asp-action="Index" class="btn btn-info" style="float:right;">İptal</a>
                </div>
            </form>
        </div>

        <!--Comments Start-->
        <div class="panel panel-default">
            <div class="panel-heading">
                Yorumlar
            </div>
            <div class="panel-body">
                <table id="example" class="display cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width:40%">Name</th>
                            <th style="width:20%">E-Mail</th>
                            <th style="width:20%">Date</th>
                            <th style="width:20%">Ayrıntı</th>
                        </tr>
                    </thead>
                    <tbody id="Blogs">
                        @foreach (var comment in Model.Comments)
                        {
                            <tr id="@comment.Id">
                                <td style="width:40%">@comment.Name</td>
                                <td style="width:20%">@comment.Email</td>
                                <td style="width:20%">@comment.dateAdded.ToString("dd MMM yyyy")</td>
                                <td style="width:20%;text-align:center">
                                    <a type="button" title="Düzenle" class="btn btn-warning btn-sm open-EditCommentDialog" data-comment-name="@comment.Name" data-comment-id="@comment.Id" data-comment-message="@comment.Message" data-comment-email="@comment.Email" data-comment-date="@comment.dateAdded" data-toggle="modal" data-target="#editCommentModal">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th style="width:40%">Name</th>
                            <th style="width:20%">E-Mail</th>
                            <th style="width:20%">Tarih</th>
                            <th style="width:20%">Ayrıntı</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--Comments End-->
    </div>
</div>

<!-- Trigger the Modal -->
<!-- The Modal -->
<div id="myModal" class="modalIMG">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-contentIMG" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>


@section Blog {
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
    <script>
        var sampleTags = new Array();
        var array = @Html.Raw(Json.Serialize(@ViewBag.catId));

        $('#categories').val(array).change();

    </script>
    <script src="~/Admin/js/notie.min.js"></script>
    <script type="text/javascript" src="/Admin/js/dataTables/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="/Admin/js/dataTables/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/Admin/js/Blog.js"></script>
}