@model IEnumerable<BlogDetail>
@inject UserManager<AppUser> userManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Partial("_AddBlogForm", new Blog())
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Blog Listesi</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                    <li class="breadcrumb-item active">Blog</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-gray-dark">
                    <div class="card-header">
                        <h3 class="card-title">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addBlogModal">
                                <i class="fas fa-plus-square mr-1"></i> Blog Ekle
                            </button>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="BlogDatatable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:40%">Title</th>
                                    <th style="width:20%">Author</th>
                                    <th style="width:20%">Date</th>
                                    <th style="width:20%">Aksiyon</th>
                                </tr>
                            </thead>
                            <tbody id="Blogs">
                                @foreach (var blog in Model)
                                {
                                    <tr id="@blog.Id">
                                        <td style="width:40%">@blog.Title</td>
                                        <td style="width:20%">
                                            @{
                                                var userName = userManager.FindByIdAsync(blog.AuthorId).Result.Name;
                                            }
                                            @userName
                                        </td>
                                        <td style="width:20%">@blog.DateAdded.ToString("dd MMM yyyy")</td>
                                        <td style="width:20%;text-align:center">
                                            <a class="btn btn-info btn-sm" type="button" title="Düzenle" class="btn btn-warning btn-sm" asp-controller="Blog" asp-action="Edit" asp-route-Id="@blog.Id">
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Edit
                                            </a>
                                            <a onclick=Delete("/Blog/Delete/@blog.Id") title="Sil" class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash">
                                                </i>
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="width:40%">Title</th>
                                    <th style="width:20%">Author</th>
                                    <th style="width:20%">Date</th>
                                    <th style="width:20%">Aksiyon</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

@section Blog {
    @if (ViewData["BlogAlert"] != null)
    {
        <script>
    @Html.Raw(ViewData["BlogAlert"]);
        </script>
    }
    <!-- Select2 -->
    <!-- DataTables  & Plugins -->
    <script src="/Admin/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/jszip/jszip.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/Admin/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $(function () {
            $("#BlogDatatable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#BlogDatatable_wrapper .col-md-6:eq(0)');
        });
    </script>
    <script src="/Admin/AdminLTE/dist/js/adminlte.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/Admin/js/Blog.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/sav7gxelu1l6y5mj6hphcaqn18a59imq5gb4ucupjl1ka00g/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script src="~/Admin/plugins/ckeditor4/ckeditor.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea#HtmlContent',
            plugins: 'print preview powerpaste casechange importcss tinydrive searchreplace autolink directionality advcode visualblocks visualchars fullscreen image link media mediaembed template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists checklist wordcount tinymcespellchecker a11ychecker imagetools textpattern noneditable help formatpainter permanentpen pageembed charmap mentions quickbars linkchecker emoticons advtable export',

            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment',
        });
    </script>
    <script>
        CKEDITOR.replace('HtmlContenta');
        $(document).on({
            'show.bs.modal': function () {
                $(this).removeAttr('tabindex');
            }
        }, '.modal');
    </script>
}
