@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="header">
    <h1 class="page-header">
        Kategori <small>Kategorileri Listeleyin</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#">Ana Sayfa</a></li>
        <li><a href="#">Kategori</a></li>
        <li class="active">Index</li>
    </ol>

</div>
<div id="page-inner">
    <div class="col-md-12">
        @Html.Partial("_AddCategoryForm", new Category())
        @Html.Partial("_EditCategoryForm", new Category())
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategoryModal">
                    Kategori Ekle
                </button>
                <a type="checkbox" id="myCheck" onclick="myFunction()"> selam </a>
            </div>
            <div class="panel-body">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>                            
                            <th>Adı</th>
                            <th>Aksiyon</th>
                        </tr>
                    </thead>
                    <tbody id="Categories">
                        @foreach (var category in Model)
                        {
                            <tr id="@category.Id">
                                <td>@category.Id</td>
                                <td>@category.Name</td>
                                <td>
                                    <a type="button" title="Düzenle" class="btn btn-warning btn-sm open-EditCategoryDialog" data-category-name="@category.Name" data-category-id="@category.Id" data-toggle="modal" data-target="#editCategoryModal">
                                        <i class="fa fa-edit"></i>
                                    </a>

                                    <a onclick=Delete("/Category/Delete/@category.Id") title="Sil" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash-o"></i>
                                    </a>

                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Adı</th>
                            <th>Aksiyon</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
@section Category {
    <script type="text/javascript" src="/Admin/js/dataTables/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="/Admin/js/dataTables/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Admin/js/Category.js"></script>
}