@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<BlogDetail>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var blog in Model)
{
    <div class="col-md-6">
        <a asp-controller="Home" asp-action="Blog" asp-route-SlugUrl="@blog.SlugUrl"class="blog-entry element-animate" data-animate-effect="fadeIn">
            <img src="/Home/Blog/Img/@(blog.ImageUrl == null ? "no-image.png" : blog.ImageUrl)" alt="Image placeholder" width="350px" height="233px">
            <div class="blog-content-body">
                <div class="post-meta">
                    <span class="author mr-2"><img src="/Home/images/person_1.jpg" alt="Colorlib"> Colorlib</span>&bullet;
                    <span class="mr-2">@blog.DateAdded.ToString("dd MMM yyyy")</span> &bullet;
                    <span class="ml-2"><span class="fa fa-comments"></span> @blog.totalComment</span>
                </div>
                <h2>@blog.Title</h2>
            </div>
        </a>
    </div>
}
<div class="col-md-12 text-center mt-5">
    <nav aria-label="Page navigationa" class="text-center">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
           new X.PagedList.Web.Common.PagedListRenderOptions
           {

               DisplayLinkToNextPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
               DisplayLinkToPreviousPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,               
               DisplayPageCountAndCurrentLocation = false,
               MaximumPageNumbersToDisplay = 10,
               LiElementClasses = new string[] { "page-item" },
               UlElementClasses = new string[] { "pagination" },
               PageClasses = new string[] { "page-link" }
           })
    </nav>
</div>

